.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 20px;
    /* background-color: #282c34; */
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.navbar .logo {
    display: flex;
    align-items: center;
    gap: 10px;
}
.navbar .logo img {
    width: 80px;
    border-radius: 10px;
}
.navbar .logo h1 {
    font-size: 1.8rem;
    font-weight: 600;
    color: #fff;
}

.navbar ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 25px;
}

.navbar ul li {
    font-size: 1rem;
}
.navbar ul li a {
    color: #fff;
    transition: color 0.3s ease;
}
.navbar ul li a:hover {
    color: #007bff;
    border-bottom: 2px solid #007bff;
}

.colored-nav {
    background-color: #212EA0;
    transition: 0.4s;
}
