.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 80px;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}
.colored-nav {
    background-color: #212EA0;
    box-shadow: 0 2px 8px rgba(0,0,0,0.3);
    transition: 0.4s;
}

.navbar .logo {
    display: flex;
    align-items: center;
    gap: 10px;
}
.navbar .logo h1 {
    font-size: 1.8rem;
    font-weight: 600;
    color: #fff;
}

.navbar ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 25px;
}

.navbar ul li {
    font-size: 1rem;
}
.navbar ul li a {
    color: #fff;
    transition: color 0.3s ease;
}
.navbar ul li:not(:last-child) a:hover {
    color: #007bff;
    border-bottom: 2px solid #007bff;
}


.mobile-menu-toggle {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: white;
}

@media (max-width: 768px) {
  .navbar {
    padding: 10px 20px;
  }
  .mobile-menu-toggle {
    display: block;
  }
  
  .nav-menu {
    position: fixed;
    top: 0;
    right: -200px; /* Hide off-screen */
    bottom: 0;
    z-index: -1;
    flex-direction: column;
    background-color: #212EA0;
    width: 200px;
    transition: right 0.4s ease-in-out;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    padding: 70px 20px;
  }
  
  .nav-menu.active {
    right: 0;
  }
  
  .nav-menu li {
    margin: 10px 0;
  }
}
