.footer {
    margin: 20px auto;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #e0e0e0;
}

.footer ul {
    display: flex;
    gap: 20px;
}

.footer ul li {
    list-style: none;
    display: inline-block;
    margin: 0 10px;
}